{% extends "layouts/base.njk" %}

{% block styles %}
<link rel="stylesheet" href="/assets/css/rankings.css">
<link rel="stylesheet" href="/assets/css/archive.css">
{% endblock %}

{% block content %}
{{ content | safe }}
{% endblock %}
